html, body {
  background-color: rgb(214, 173, 255);
  margin: 0;
  padding: 0;
  overflow: hidden;
  height:100%;
  width:100%;
 
}
@font-face {
  font-family: "authentic";
  src: url(fonts/BBBPoppinsTN-TextRegular.woff);
}
@font-face {
  font-family: "Adelphe";
  src: url(fonts/Adelphe-GerminalRegular.woff2);
}
@font-face {
  font-family: "Adelphe-ital";
  src: url(fonts/Adelphe-GerminalItalic.woff);
}
  .nav {
    position:absolute;
    display: flex;
    justify-content: flex-end;
    height: auto;
    z-index: 10;
    background-color: transparent;
  
 }
  .crescentmoon {
    height: 30px;
    width: 30px;
    padding-bottom: 50px;
    opacity: 0.7;
    margin-top: 30px;
    margin-left: 30px;
    
  }

  .moon:hover{
    background-color: transparent;
    }
.moonlink:link,.moonlink:visted, .moonlink:active  {
    text-decoration: none;
    border-bottom: 0px;
    }
canvas {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.bio {
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;  
  top: 5%;
  height:100%;
  width:70%;
  left: 15%;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:thin;
  border:0px solid #FFFFFF;
  }

/* Disable text selection  */
div.bio {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

p{
  font-family: "Adelphe", serif;
  font-size: 32px;
  line-height: 39px;
  font-weight: regular;
  color:white;
  padding-top: 10%;
  padding-bottom: 0%;}

p.more{ 
  font-size:15px;
  font-family: "authentic", sans-serif;
  position: relative;
  padding-top: 5%;
  padding-bottom: 20%;
}


 a:link,  a:visited, a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); 
 } 

 .writinglink:hover, .credit:hover  {
  color:  rgba(0, 11, 32, 0.828);
  text-decoration: none;
  background-color:rgba(255, 255, 255, 0.4);
  border-bottom: none;
 }
 

::-webkit-scrollbar {
  display: none;
}

@media(max-width:880px){
  html, body {
   /* background-image:url("images/fog1.jpg") ; */
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
overflow: hidden;
  }
  .content{
    padding: 10px;
    position:relative;
    display: flex;
    flex-direction:column-reverse;
    align-items:center;
    margin-top: 0px;
  }
  .portrait-desktop {
    display:none;
  }
  .portrait-mobile {
    display:block;
  }
  img {
    width:80%;
  }
  .text {
    width: 90%;
  }
  .nav {
    position:relative;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    height: 0px;
    padding-left: 0px;
    padding-top: 0px;
    margin-bottom: 30px;
    opacity: 0.5;
  }
  
.moon  {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 30px;
} 
 /* div.drawing_board {
    object-fit: cover;
 } */

.bio {
  z-index: 3;
  width:90%;
  margin-left: 2%;
  margin-right: 2%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;  
  top: 5%;
  height:100%;
  width:70%;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:thin;
  border:0px solid #FFFFFF;
  } 


  p {
    font-family: "Adelphe", serif;
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
    position: relative; top: 45%;
    padding-bottom: 0%;
    }
  p.more {
    display:block;
    font-family: "authentic", Sans Serif;
    font-size: 14px;
    position: relative;
    padding-top: 5%;
    padding-bottom: 20%;
  }
 
}

